
html {
  color: #030303;
  font: caption;
  padding-bottom: 2em;
}

a {
  color: #1f4ba0;
  text-decoration: underline;
}

header {
  padding: 2em;
  text-align: center;
}

header .logo {
  display: block;
  margin: 0 auto;
  max-width: 350px;
  width: 100%;
}

footer {
  margin: 4em auto;
  padding: 2em;
  text-align: center;
  max-width: 800px;
  width: 100%;
}

footer p {
  line-height: 1.2em;
  margin: 0 0 1em 0;
}


.not-found {
  margin: 0 auto;
  max-width: 800px;
  padding: 2em;
  text-align: center;
  width: 100%;
}

.not-found h1 {
  font-size: 3em;
  font-weight: bold;
}

.not-found h2 {
  font-size: 2em;
  font-weight: bold;
}
